
.container-fluid {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(to top,#5858c9 10%, #eee39e 50%) no-repeat; */

}

.main {
  width: 80%;
  height: 100vh;
  margin-top: 80px;
  margin-left: 270px;

}

.display-area {
  position: absolute;
  left: 250px;
  width: calc(100% - 250px);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}




.tab-navigation {
  padding: 0;
  padding-left: 30px;
  border-bottom: solid 1px #ddd;
}

.tab-navigation li {
  display: inline-block;
  margin-bottom: -1px;
}

.tab-navigation li a {
  display: inline-block;
  border: solid 1px rgb(220, 215, 215);
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.tab-navigation .activeTab a {
  border-bottom-color: #fff;
  color: red;

}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}